/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Milletun;
    src: url("/fonts/Milletun.otf");
  }
  @font-face {
    font-family: Saira;
    src: url("/fonts/SairaStencilOne.ttf");
  }
  @font-face {
    font-family: g7_1943;
    src: url("/fonts/g7_1943.ttf");
  }
  @font-face {
    font-family: onuava;
    src: url("/fonts/onuava.ttf");
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl font-extralight;
  }
  h3 {
    @apply text-2xl font-extralight;
  }

  a:hover {
    color: #f0f;
  }
}

@layer components {
  .animate-underline {
    position: relative;

    &::after {
      background: #f0f;
      content: "";
      height: 1px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 100%;
      transform: translateY(.6em);
      transition: opacity .3s,transform .3s;
      width: 100%;
    }

    &:hover::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .scroll-indicator {
    width: 2px;
    background-color: white;
    height: 10vh;
    margin-bottom: 10vh;

    animation: scroll-indicator-move 2s infinite ease-in-out 2s backwards;
  }

  .animate-fade-out {
    animation: fade-out 6s 0.5s forwards;
  }

  .text-smallcaps {
    font-variant: small-caps;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sticky-fix {
  height: 0 !important;
}

.parallax-container, html {
  /* background-color: cyan; */

  scrollbar-color: cyan black;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
      width: 8px;
      background-color: black;
  }

  &::-webkit-scrollbar-thumb {
      /* very neat hack for animating the scrollbar colour! */
      background-color: cyan;

      &:horizontal:hover,
      &:vertical:hover {
          background-color: darken(cyan, 10%);
      }

      &:horizontal:active,
      &:vertical:active {
          background-color: darken(cyan, 20%);
      }
  }
}

.image-gallery-image {
  image-rendering: pixelated;
}

button.image-gallery-thumbnail {
  width: 208px;

  &.active,
  &:focus,
  &:hover {
    border-color: lime;
  }
}


/* Animations */
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade-out {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes background-scroll {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 32px 32px;
  }
}

@keyframes fade-in-cyan-shadow {
  from {
      text-shadow: 1px 1px #0ff0, 2px 2px #0ff0, 3px 3px #0ff0, 4px 4px #0ff0;
  }
  to {
      text-shadow: 1px 1px #0ff, 2px 2px #0ff, 3px 3px #0ff, 4px 4px #0ff
  }
}

@keyframes scroll-indicator-move {
  0% {
      transform: translateY(-50%) scaleY(0);
  }
  50% {
      transform: translateY(0) scaleY(1);
  }
  100% {
      transform: translateY(50%) scaleY(0);
  }
}