

.intro-header {
    --title-bg-img: url("/images/title-tile.png");

    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items: center;

    & > h1 {
        position: relative;

        flex-grow: 1;

        margin: 0;

        text-align: center;

        margin-left: 4vw;
        margin-top: -10vh;
        font-size: 50vh;

        @media screen(md) {
            margin-left: 0;
            margin-top: 0;
            font-size: 18vw;
        }

        color: transparent;
        background-clip: text;
        background-image: var(--title-bg-img);
        background-attachment: fixed;

        background-size: 32px 32px;
        animation: background-scroll 1s linear infinite;

        /* Scale the background animation based on pixel density */
        @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
            background-size: 16px 16px;
            animation: background-scroll 2s linear infinite;
        }

        & > span {
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;

            text-shadow: 1px 1px #0ff, 2px 2px #0ff, 3px 3px #0ff, 4px 4px #0ff;
            /* animation: fade-in-cyan-shadow 1s linear 1 5s backwards; */
        }
    }
}